<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Submission">
    <title>restoKU</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header class="header">
    <div class="header-inner">
        <h1 class="header-title">
            restoKU
        </h1>
    </div>
    <a href="#" id="menu" class="header-menu">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="https://GitHub.com/masedi54">About Us</a></li>
    </ul>
</nav>

<div class="hero">
    <div class="hero-inner">
        <h1 class="hero-title">Nikmati menu hidangan mewah dari kami</h1>
        <p class="hero-tagline">Rasakan pengalaman makan yang mewah, interior yang mewah, dan pelayanan yang mewah</p>
    </div>
</div>
<main id="maincontent">
    <section class="content">
        <article class="headline">
            <figure class="headline-figure">
                <img src="./images/heros/hero-image_4.jpg" alt="restoKU">
                <figcaption>restoKU Maret 2022 Infographic, fine dining</figcaption>
            </figure>
            <div class="headline-content">
                <h1 class="headline-title">#ceritarestoKU : Story of restoKU</h1>
                <p class="headline-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                    facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                    asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                    nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                    vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                <button class="headline-button">Read More</button>
            </div>
        </article>
        <div class="latest">
            <h1 class="latest-label">Explore More</h1>
            <div class="posts">
                <article class="post-item">
                    <img class="post-item-thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/29" width="450" alt="restoKU">
                    <div class="post-item-content">
                        <p class="post-item-date">Ternate <span class="post-item-date-author">Rating: 4.8</span></p>
                        <h1 class="post-item-title"><a href="#">Pangsit Express</a></h1>
                        <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                            explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                            minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                            doloremque impedit quod tempora tenetur totam vero.</p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item-thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/08" width="450" alt="restoKU">
                    <div class="post-item-content">
                        <p class="post-item-date">Malang <span class="post-item-date-author">Rating: 4.6</span></p>
                        <h1 class="post-item-title"><a href="#">Makan Mudah</a></h1>
                        <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                            explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                            minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                            doloremque impedit quod tempora tenetur totam vero.</p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item-thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/07" width="450" alt="restoKU">
                    <div class="post-item-content">
                        <p class="post-item-date">Bali <span class="post-item-date-author">Rating: 4.6</span></p>
                        <h1 class="post-item-title"><a href="#">Run The Gun</a></h1>
                        <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                            explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                            minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                            doloremque impedit quod tempora tenetur totam vero.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<footer>
        <p>Copyright &copy; 2022 - restoKU</p>
</footer>
</body>
</html>