<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="restoKU Catalogue App">
  <meta name="theme-color" content="#26d0c9" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
  <link rel="manifest" href="manifest.json">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
  <title>restoKU</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="container">
      <nav id="nav-item">
        <a href="#" class="nav-item-menu">restoKU</a>
        <button id="menu-button" aria-label="navigation-menu"><i class="fas fa-bars"></i></button>
        <div class="nav-list">
          <a class="nav-list-item" href="#/home">Home</a>
          <a class="nav-list-item" href="#/favorite">Favorite</a>
          <a class="nav-list-item" href="https://github.com/masedi54">About</a>
        </div>
      </nav>
      <nav id="sidebar">
        <div id="sidebar-menu" class="nav-list">
          <button id="close-button" aria-label="close-navigation-menu"><i class="fas fa-times"></i></button>
          <a class="nav-list-item" href="#/home">Home</a>
          <a class="nav-list-item" href="#/favorite">Favorite</a>
          <a class="nav-list-item" href="https://github.com/masedi54">About</a>
        </div>
      </nav>
    </div>
  </header>
  <main id="main-content" tabindex="0">
  </main>
  <footer id="footer">
    Copyright © 2022 - restoKU
  </footer>
</body>

</html>