* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header-inner {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

.header-menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;
}


/*
 * Top level navigation
 */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #616161;
}

.nav a:hover {
    text-decoration: underline;
    color: #000;
}


/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1525648199074-cee30ba79a4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-color: green;
}

.hero-inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}


/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * headline
 */

.headline-figure {
    width: 100%;
}

.headline-figure img {
    width: 100%;
    border-radius: 5px;
}

.headline-figure figcaption {
    text-align: center;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.headline-content {
    width: 100%;
    padding: 16px 0;
}

.headline-title {
    font-size: 24px;
    font-weight: 500;
}

.headline-description {
    font-size: 12px;
    margin-top: 12px;
}

.headline-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #26d0c9;
    transition: opacity 0.3s;
}

.headline-button:hover {
    opacity: 0.8;
}

/*
 * latest
 */

.latest {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.latest-label {
    font-size: 32px;
    font-weight: lighter;
}

.latest-label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.posts {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * post item
 */

.post-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.post-item-content {
    padding: 16px;
}

.post-item-thumbnail {
    width: 100%;
}

.post-item-date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.post-item-date-author {
    color: red;
    text-decoration: none;
}

.post-item-title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.post-item-title:hover {
    opacity: 0.5;
}

.post-item-title a {
    text-decoration: none;
    color: inherit;
}

.post-item-description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #26d0c9;
    padding: 0.5em;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 16px;
}

footer a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #fff
}