/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #menu-button, #close-button {
        display: none;
    }
    #nav-item .nav-list {
        display: block;
    }
    #sidebar {
        display: none;
    }

    .detail-review,
    .menus,
    .post-list {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .detail-review,
    .post-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }

    .post-detail .post-thumbnail img {
        height: 500px;
    }

    #hero-item {
        background: url(/dist/images/heros/hero-image_2-large.jpg) center no-repeat;
        background-image: -webkit-image-set(
            url(/dist/images/heros/hero-image_2-small.jpg) 1x,
            url(/dist/images/heros/hero-image_2-large.jpg) 2x,
        );
        background-image: image-set(
            url(/dist/images/heros/hero-image_2-small.jpg) 1x,
            url(/dist/images/heros/hero-image_2-large.jpg) 2x,
        );
    }
}
